extends layout

block content
    
  .row.justify-content-center
    .col-sm-6
      legend New Pet
      form(action="#" id="new-pet")
        .form-group
            label Name 
                span.text-danger *
            input.form-control(name="name" required)
        .form-group
            label Birthday 
                span.text-danger *
            input.form-control(name="birthday" required)
        .form-group
            label Species 
                span.text-danger *
            input.form-control(name="species" required)
        .form-group
            label Avatar 
                span.text-danger *
            input.form-control(name="avatar" type="file" required)  
        .form-group
            label Favorite Food 
                span.text-danger *
            input.form-control(name="favoriteFood" required) 
        .form-group
            label Description 
                span.text-danger *
            textarea.form-control(name="description" required)
        .form-group
            label Price
            span.text-danger *
            textarea.form-control(name="price" required type="number")  
        button(type="submit").btn.btn-primary Save